@use "mixin";

//letter-spacing  ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/*XDのAV(トラッキング値)letter-spacing”em”で設定
XDのAV 75 ÷1000 = 0.075　letter-spacing : 0.075em*/

//line-height ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/*XDの行送り値（px）÷ フォントサイズ（px）をline-heightに指定
// 28÷15=1.8666...なので1.86。¸line-height : 1.86 ;*/

// header＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.header {
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    width: 100vw;
    max-width: 1366px;
    height: 94px;
    display: flex;
    justify-content: center;
    position: fixed;

    /* pc 1367px以上  */
    @include mixin.pc-l(1367px) {
    }

    /* PC */
    @include mixin.pc(1366px) {
    }

    /* タブレット */
    @include mixin.tab(1025px) {
        justify-content: flex-start;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
        justify-content: flex-start;
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    &__inner {
        background-color: #ffffff;
        margin: 0 auto;
        display: flex;

        /* pc 1367px以上  */
        @include mixin.pc-l(1367px) {
            width: 100vw;
            max-width: 1022px;
            height: 100%;
        }

        /* PC */
        @include mixin.pc(1366px) {
            max-width: 1022px;
            // width: レスポンシブ;
            height: 100%;
        }

        /* タブレット */
        @include mixin.tab(1025px) {
            width: 100vw;
            margin: 0;
            position: relative;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
            width: 100vw;
            margin: 0;
            position: relative;
        }

        .gnav {

                  /* タブレット */
        @include mixin.tab(1025px) {
            display: none;
        }
            /* スマートフォン */
            @include mixin.sp(600px) {
                display: none;
            }
        }
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .header-logo {
        width: 47px;
        height: 47px;
        margin: 24px 0 23px 20px;

        .logo-img {
            width: 100%;
            height: auto;
            /* スマートフォン */
            @include mixin.sp(600px) {
                width: mixin.clampSp(47, 35);
                height: mixin.clampSp(47, 35);
            }
        }

        /* pc 1367px以上  */
        @include mixin.pc-l(1367px) {
            // margin: 24px 0 23px 20px;
        }

        /* PC */
        @include mixin.pc(1366px) {
            margin: 24px 0 23px 20px;
        }

        /* タブレット */
        @include mixin.tab(1025px) {
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
        }
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    a {
        display: inline-block;
        width: auto;
        height: 50px;
        margin-top: 22px;

           /* タブレット */
           @include mixin.tab(1025px) {
            display: inline-block;
            width: mixin.clampSp(400, 200);
            margin-top: 25px;
            margin-left: 28px;
           }

        /* スマートフォン */
        @include mixin.sp(600px) {
            display: inline-block;
            width: mixin.clampSp(200, 150);
        }

        .tagline-txt {
            // font-weight: 400;//regular
            font-weight: 700; //bold
            font-size: 24px;
            line-height: 1.2; // 17/14
            vertical-align: top;
            display: inline-block;
            margin: 10px 0 35px 16px;

            /* pc 1367px以上  */
            @include mixin.pc-l(1367px) {
            }

            /* PC */
            @include mixin.pc(1366px) {
                font-size: mixin.variableFontPc(24, 18);
            }

            /* タブレット */
            @include mixin.tab(1025px) {
                font-size: mixin.variableFontSp(24, 24);
                display: inline-block;
                width: mixin.clampTab(450,200);
                // background-color: red;
                // margin: 0px 0px 0px 25px;

            }

            /* スマートフォン */
            @include mixin.sp(600px) {
                font-size: mixin.variableFontSp(24, 16);
                display: inline-block;
                width: mixin.clampSp(200, 150);
                margin: 15px 0px 0px 10px;
            }
        }
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    ul {
        li {
            // font-weight: 400;//regular
            font-weight: 700; //bold
            font-size: 16px;
            line-height: 1.18; // 19/16
            display: inline-block;
            margin-top: 36px;
        }

        li:first-child {
            margin-left: 136px;

            /* pc 1367px以上  */
            @include mixin.pc-l(1367px) {
            }

            /* PC */
            @include mixin.pc(1366px) {
                margin-left: mixin.clampPc(136, 100);
            }

            /* タブレット */
            @include mixin.tab(1025px) {
            }

            /* スマートフォン */
            @include mixin.sp(600px) {
            }
        }

        li:nth-child(2) {
            margin-left: 45px;

            /* pc 1367px以上  */
            @include mixin.pc-l(1367px) {
            }

            /* PC */
            @include mixin.pc(1366px) {
            }

            /* タブレット */
            @include mixin.tab(1025px) {
            }

            /* スマートフォン */
            @include mixin.sp(600px) {
            }
        }

        li:nth-child(3) {
            margin-left: 44px;

            /* pc 1367px以上  */
            @include mixin.pc-l(1367px) {
            }

            /* PC */
            @include mixin.pc(1366px) {
            }

            /* タブレット */
            @include mixin.tab(1025px) {
            }

            /* スマートフォン */
            @include mixin.sp(600px) {
            }
        }
    }

    .button {
        margin: 29px 0 29px 184px;

        /* pc 1367px以上  */
        @include mixin.pc-l(1367px) {
        }

        /* PC */
        @include mixin.pc(1366px) {
        }

        /* タブレット */
        @include mixin.tab(1025px) {
            display: none;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
            display: none;
        }
    }

    .fa-bars {
        display: none;
        /* pc 1367px以上  */
        @include mixin.pc-l(1367px) {
        }

        /* PC */
        @include mixin.pc(1366px) {
        }

        /* タブレット */
        @include mixin.tab(1025px) {
            display: block;
            position: absolute;
            top:12px;
            right:45px;
            color: #444444;
            transform: scale(0.6,0.6);
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
            display: block;
            position: absolute;
            top:12px;
            right:25px;
            color: #444444;
            transform: scale(0.6,0.6);
            
        }
    }
}
