@use "mixin";

.cmn-content-ttl {
  // font-weight: 400;//regular
  font-weight: 700; //bold
  font-size: 32px;
  line-height: 1.1875; // 38/32
  padding-top: 80px;
  text-align: center;

  /* タブレット */
  @include mixin.tab(1025px) {
    font-size: mixin.variableFontTab(32, 32);
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    font-size: mixin.variableFontSp(32, 24);
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.cmn-content-sub_ttl {
  // font-weight: 400;//regular
  font-weight: 700; //bold
  font-size: 16px;
  line-height: 1.187; // 19/16
  padding-top: 19px;
  text-align: center;
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

//  section1  first-view ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.fv-inner {
  position: relative;
  width: 100vw;
  max-width: 1366px;
  height: 768px; //674px+94px(固定ヘッダ)
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* pc 1367px以上  */
  @include mixin.pc-l(1367px) {
  }

  /* PC */
  @include mixin.pc(1366px) {
  }

  /* タブレット */
  @include mixin.tab(1025px) {
    background-image: url("/images/circle.png"); //localhost:3000 distからのパス
    background-repeat: no-repeat;
    background-size: 700px 700px;
    background-position: bottom;
    align-items: center;
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    background-image: url("/images/circle.png"); //localhost:3000 distからのパス
    background-repeat: no-repeat;
    background-size: 700px 700px;
    background-position: bottom;
    align-items: center;
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  &__first-line {
    max-width: 360px;
    height: 140px;
    margin-top: 250px;
    margin-left: 192px;

    p {
      // font-weight: 400;//regular
      font-weight: 700; //bold
      font-size: 32px;
      line-height: 1.7;
      text-align: left;
    }

    /* pc 1367px以上  */
    @include mixin.pc-l(1367px) {
    }

    /* PC */
    @include mixin.pc(1366px) {
    }

    /* タブレット */
    @include mixin.tab(1025px) {
      margin-top: 170px;
      margin-left: 0px;
      p {
        // font-weight: 400;//regular
        font-weight: 700; //bold
        line-height: 1.1875; // 38/32
        text-align: center;
      }
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      margin-top: 170px;
      margin-left: 0px;

      p {
        // font-weight: 400;//regular
        font-weight: 700; //bold
        font-size: mixin.variableFontSp(32, 26);
        line-height: 1.1875; // 38/32
        text-align: center;
      }
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  &__second-line {
    max-width: 260px;
    height: 100px;
    margin-top: 43px;
    margin-left: 192px;

    p {
      // font-weight: 400;//regular
      font-weight: 700; //bold
      font-size: 16px;
      line-height: 1.7; // 19/16
      text-align: left;
    }

    /* pc 1367px以上  */
    @include mixin.pc-l(1367px) {
    }

    /* PC */
    @include mixin.pc(1366px) {
    }

    /* タブレット */
    @include mixin.tab(1025px) {
      margin-top: 25px;
      margin-left: 0px;

      p {
        text-align: center;
        // font-size: mixin.variableFontSp(16, 14);
      }
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      margin-top: 12px;
      margin-left: 0px;

      p {
        text-align: center;
        font-size: mixin.variableFontSp(16, 14);
      }
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .fv-inquiry-button {
    display: inline-block;
    background: linear-gradient(#fa41cc 0%, #6020b0 100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-top: 42px;
    margin-left: 192px;

    /* pc 1367px以上  */
    @include mixin.pc-l(1367px) {
    }

    /* PC */
    @include mixin.pc(1366px) {
    }

    /* タブレット */
    @include mixin.tab(1025px) {
      margin-top: 40px;
      margin-left: 0px;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      margin-top: 30px;
      margin-left: 0px;
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .fv-img-01 {
    z-index: 10;
    position: absolute;
    top: -30px;
    left: 744px;

    /* タブレット */
    @include mixin.tab(1025px) {
      display: none;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      display: none;
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .fv-img-circle {
      width: 708px;
      height: 711px;

      /* タブレット */
      @include mixin.tab(1025px) {
        display: none;
      }

      /* スマートフォン */
      @include mixin.sp(600px) {
        display: none;
      }
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .fv-img-02 {
    z-index: 20;
    position: absolute;
    top: 225px;
    left: 676px;

    /* タブレット */
    @include mixin.tab(1025px) {
      z-index: 200;
      top: 525px;
      left: calc((100vw - 250px) / 2);
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      z-index: 200;
      top: 525px;
      left: calc((100vw - 250px) / 2);
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .fv-img-main {
      width: 518px;
      height: 430px;

      /* タブレット */
      @include mixin.tab(1025px) {
        width: 250px;
        height: 200px;
      }

      /* スマートフォン */
      @include mixin.sp(600px) {
        width: 250px;
        height: 200px;
      }
    }
  }
}

//  section1  first-view ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

//  section2 feature ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.feature-inner {
  height: 1809px;
  background-color: #fff;

  /* タブレット */
  @include mixin.tab(1025px) {
    height: 2500px;
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    height: 2500px;
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .ft-ttl {
    line-height: 1.1875; // 38/32
    padding-top: 76px;
    padding-right: 5px;
    text-align: center;
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .ft-sub-ttl {
    line-height: 1.187; // 19/16
    padding-top: 16px;
    padding-right: 9px;
    text-align: center;
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .lower-ttl {
    // font-weight: 400;//regular
    font-weight: 700; //bold
    font-size: 28px;
    line-height: 1.214; // 34/28

    /* タブレット */
    @include mixin.tab(1025px) {
      font-size: mixin.variableFontTab(28, 22);
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      font-size: mixin.variableFontSp(28, 22);
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .ft-lower-ttl01 {
    margin-top: 62px;
    margin-bottom: 54px;
    text-align: center;
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .ft-lower-ttl-02 {
    margin-top: 62px;
    text-align: center;

    /* タブレット */
    @include mixin.tab(1025px) {
      font-size: mixin.variableFontTab(28, 22);
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      font-size: mixin.variableFontSp(28, 22);
    }
  }

  .ft-lower-ttl-03 {
    margin-top: 140px;
    text-align: center;

    /* スマートフォン */
    @include mixin.sp(600px) {
      font-size: mixin.variableFontSp(28, 22);
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .ft-container {
    width: 1050px;
    margin-left: 192px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 85px;

    /* タブレット */
    @include mixin.tab(1025px) {
      flex-direction: column;
      width: 100vw;
      margin-left: 0px;
      align-items: center;
      margin-bottom: 0px;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      flex-direction: column;
      width: 100vw;
      margin-left: 0px;
      align-items: center;
      margin-bottom: 0px;
    }

    .ft-img-wrapper {
      display: inline-block;
    }

    .ft-img01 {
      /* スマートフォン */
      @include mixin.sp(600px) {
        transform: scale(0.8, 0.8);
      }
    }

    .ft-img02 {
      padding-top: 62px;
      padding-left: 83px;

      /* スマートフォン */
      @include mixin.sp(600px) {
        padding-left: 0px;
        transform: scale(0.8, 0.8);
      }
    }

    .ft-img03 {
      padding-top: 65px;
      padding-left: 31px;
      /* スマートフォン */
      @include mixin.sp(600px) {
        padding-left: 0px;
        transform: scale(0.8, 0.8);
      }
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .description-box {
      margin-left: 158px;

      /* タブレット */
      @include mixin.tab(1025px) {
        margin-left: 0px;
      }

      /* スマートフォン */
      @include mixin.sp(600px) {
        margin-left: 0px;
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      .description--strong {
        // font-weight: 400;//regular
        font-weight: 700; //bold
        font-size: 24px;
        padding-top: 37.5px;
        text-align: left;
        line-height: 2; // 48/24
        letter-spacing: -0.15px;

        /* タブレット */
        @include mixin.tab(1025px) {
          text-align: center;
          font-size: mixin.variableFontTab(20, 14);
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          text-align: center;
          font-size: mixin.variableFontSp(20, 14);
        }
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      .description {
        // font-weight: 400;//regular
        font-weight: 700; //bold
        font-size: 16px;
        line-height: 1.625; // 26/16

        /* タブレット */
        @include mixin.tab(1025px) {
          text-align: center;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          text-align: center;
        }
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      .feature-desc01 {
        padding-top: 39px;

        /* タブレット */
        @include mixin.tab(1025px) {
          font-size: mixin.variableFontTab(14, 12);
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          font-size: mixin.variableFontSp(14, 12);
        }
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      .feature-desc02 {
        padding-top: 31px;
        padding-left: 63px;

        /* タブレット */
        @include mixin.tab(1025px) {
          font-size: mixin.variableFontTab(14, 12);
          padding-left: 0px;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          font-size: mixin.variableFontSp(14, 12);
          padding-left: 0px;
        }
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      .feature-desc03 {
        padding-top: 24px;
        padding-left: 20px;
        line-height: 1.75;

        /* タブレット */
        @include mixin.tab(1025px) {
          font-size: mixin.variableFontTab(14, 12);
          padding-left: 0px;
          padding-bottom: 50px;
        }
        /* スマートフォン */
        @include mixin.sp(600px) {
          font-size: mixin.variableFontSp(14, 12);
          padding-left: 0px;
          padding-bottom: 50px;
        }
      }
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .desc-box02 {
      /* スマートフォン */
      @include mixin.sp(600px) {
      }

      .feature-desc-str02 {
        padding-top: 59px;
        padding-left: 63px;

        /* タブレット */
        @include mixin.tab(1025px) {
          padding-top: 40px;
          padding-left: 0px;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          padding-top: 40px;
          padding-left: 0px;
        }
      }
    }

    .desc-box03 {
      /* スマートフォン */
      @include mixin.sp(600px) {
        padding-left: 0px;
      }

      .feature-desc-str03 {
        padding-top: 80px;
        padding-left: 14px;

        /* タブレット */
        @include mixin.tab(1025px) {
          padding-top: 40px;
          padding-left: 0px;
        }
        /* スマートフォン */
        @include mixin.sp(600px) {
          padding-top: 40px;
          padding-left: 0px;
        }
      }
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .ft-container-rev {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 0px;
    width: 100vw;
    max-width: 1366px;

    /* タブレット */
    @include mixin.tab(1025px) {
      flex-direction: column;
    }
    /* スマートフォン */
    @include mixin.sp(600px) {
      flex-direction: column;
    }
  }
}

//  section2 feature ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

//  section3 price ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.price-inner {
  height: 744px;
  display: flex;
  background-color: #eefbfb;
  display: flex;
  flex-direction: column;

  /* タブレット */
  @include mixin.tab(1025px) {
    height: auto;
    padding-bottom: 50px;
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    height: auto;
    padding-bottom: 50px;
  }

  .price-ttl {
    padding-top: 58px;
  }
  .price-sub-ttl {
    transform: translate(-2px, -1px);
    letter-spacing: 0.2px;
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .price-container {
    margin-top: 71px;

    /* タブレット */
    @include mixin.tab(1025px) {
      margin-top: 20px;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      margin-top: 20px;
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .price-table {
      width: 67.79%; // 926/1366*100=67.79
      max-width: 926px;
      height: 412px;
      height: auto;
      background-color: #fff;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      margin: 0 auto;

      /* タブレット */
      @include mixin.tab(1025px) {
        width: 90%;
      }

      /* スマートフォン */
      @include mixin.sp(600px) {
        width: 85%;
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      &__body {
        // font-weight: 400;//regular
        font-weight: 700; //bold
        font-size: 16px;
        line-height: 1.75; // 28/16
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      &__header {
        width: 290px;
        text-align: left;
        vertical-align: middle;
        padding: 30px 30px 30px 19px;
        border: solid 1px;
        border-color: #e5e5e5;

        /* タブレット */
        @include mixin.tab(1025px) {
          padding: 0;
          display: block;
          width: 100%;
          height: 55px;
          display: flex;
          justify-content: center;
          /*左右中央揃え*/
          align-items: center;
          /*上下中央揃え*/
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          padding: 0;
          display: block;
          width: 100%;
          height: 55px;
          display: flex;
          justify-content: center;
          /*左右中央揃え*/
          align-items: center;
          /*上下中央揃え*/
        }
      }

      .pice-table-hd01 {
        height: 94px;

        /* タブレット */
        @include mixin.tab(1025px) {
          height: 75px;
          vertical-align: middle;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          height: 75px;
          vertical-align: middle;
        }
      }

      .pice-table-hd02 {
        height: 100px;
        padding-top: 41px;

        /* タブレット */
        @include mixin.tab(1025px) {
          ight: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }
      }

      .pice-table-hd03 {
        height: 103px;

        /* タブレット */
        @include mixin.tab(1025px) {
          height: 75px;
          vertical-align: middle;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          height: 75px;
          vertical-align: middle;
        }
      }

      .pice-table-hd04 {
        height: 113px;
        padding-top: 20px;

        /* タブレット */
        @include mixin.tab(1025px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      &__data {
        text-align: left;
        vertical-align: top;
        padding-left: 30px;
        border: solid 1px;
        border-color: #e5e5e5;

        /* タブレット */
        @include mixin.tab(1025px) {
          padding: 0;
          display: block;
          width: 100%;
          height: 55px;
          text-align: center;
          display: flex;
          justify-content: center;
          /*左右中央揃え*/
          align-items: center;
          /*上下中央揃え*/
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          padding: 0;
          display: block;
          width: 100%;
          height: 55px;
          text-align: center;
          display: flex;
          justify-content: center;
          /*左右中央揃え*/
          align-items: center;
          /*上下中央揃え*/
        }
      }

      .pice-table-dt01 {
        padding-top: 33.5px;
        letter-spacing: -0.3px;

        /* タブレット */
        @include mixin.tab(1025px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }
      }

      .pice-table-dt02 {
        padding-top: 42px;
        transform: translate(-1px, 0px);

        /* タブレット */
        @include mixin.tab(1025px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }
      }

      .pice-table-dt03 {
        padding-top: 36.5px;
        transform: translate(-1px, 0px);

        /* タブレット */
        @include mixin.tab(1025px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }
      }

      .pice-table-dt04 {
        padding-top: 37.5px;
        transform: translate(-1px, 0px);

        /* タブレット */
        @include mixin.tab(1025px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          height: 75px;
          padding-top: 0px;
          vertical-align: middle;
        }
      }
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .price-table-under-txt {
    // font-weight: 400;//regular
    font-weight: 700; //bold
    font-size: 16px;
    line-height: 1.75; // 28/16
    text-align: center;
    padding-top: 34px;
  }
}

//  section3 price ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

//  section4 FAQ ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.faq-inner {
  height: auto;
  background-color: #ffff;

  /* タブレット */
  @include mixin.tab(1025px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .faq-ttl {
    padding-top: 59px;
  }

  .faq-sub-ttl {
    padding-top: 16px;
    padding-right: 3px;
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .accordion {
    width: 907px;
    margin-left: 240px;
    margin-top: 35px;
    padding-bottom: 86px;

    /* タブレット */
    @include mixin.tab(1025px) {
      width: 85vw;
      margin-left: calc(15vw / 2);
      padding-bottom: 65px;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      width: 90vw;
      margin-left: calc(10vw / 2);
      padding-bottom: 65px;
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .acd-check {
    display: none;
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .acd-label {
    border: 1px solid;
    border-color: #e5e5e5;
    height: 58px;
    display: block;
    margin: 0px auto;
    background: #ffffff;
    color: #333333;
    // font-weight: 400;//regular
    font-weight: 700; //bold
    font-size: 14px;
    line-height: 1.86; // 26/14
    text-align: center;
    cursor: pointer;

    /* タブレット */
    @include mixin.tab(1025px) {
      letter-spacing: -1px;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      font-size: mixin.variableFontSp(14, 12);
      letter-spacing: -1px;
    }
  }

  .acd-lbl01 {
    padding-top: 15px;
  }

  .acd-lbl02 {
    padding-top: 15px;
    padding-left: 5px;
  }

  .acd-lbl03 {
    padding-top: 13px;
    padding-right: 20px;
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .acd-content01 {
    height: 0;
    background: #f2f2f2;
    transition: 0.5s;
    overflow: hidden;

    p {
      color: #333333;
      // font-weight: 400;//regular
      font-weight: 700; //bold
      font-size: 14px;
      line-height: 1.83; // 26/14
      text-align: left;
      padding: 14.5px 0px 0px 35px;

      /* タブレット */
      @include mixin.tab(1025px) {
        font-size: mixin.variableFontTab(14, 12);
        letter-spacing: -1px;
        padding-top: 15px;
        padding-right: 35px;
        padding-bottom: 15px;
      }

      /* スマートフォン */
      @include mixin.sp(600px) {
        font-size: mixin.variableFontSp(14, 12);
        letter-spacing: -1px;
        padding-top: 15px;
        padding-right: 35px;
        padding-bottom: 15px;
      }
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .acd-content02 {
    height: 0;
    background: #f2f2f2;
    transition: 0.5s;
    overflow: hidden;

    p {
      color: #333333;
      // font-weight: 400;//regular
      font-weight: 700; //bold
      font-size: 14px;
      line-height: 1.86; // 26/14
      text-align: left;
      padding: 19px 0px 0px 36px;

      /* タブレット */
      @include mixin.tab(1025px) {
        font-size: mixin.variableFontTab(14, 12);
        letter-spacing: -1px;
        padding-top: 15px;
        padding-right: 35px;
        padding-bottom: 15px;
      }

      /* スマートフォン */
      @include mixin.sp(600px) {
        font-size: mixin.variableFontSp(14, 12);
        letter-spacing: -1px;
        padding-top: 15px;
        padding-right: 35px;
        padding-bottom: 15px;
      }
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .acd-content03 {
    height: 0;
    background: #f2f2f2;
    transition: 0.5s;
    overflow: hidden;

    p {
      color: #333333;
      // font-weight: 400;//regular
      font-weight: 700; //bold
      font-size: 14px;
      line-height: 1.86; // 26/14
      text-align: left;
      letter-spacing: -0.1px;
      padding: 21px 0px 0px 36px;

      /* タブレット */
      @include mixin.tab(1025px) {
        font-size: mixin.variableFontTab(14, 12);
        letter-spacing: -1px;
        padding-top: 15px;
        padding-right: 35px;
        padding-bottom: 15px;
      }

      /* スマートフォン */
      @include mixin.sp(600px) {
        font-size: mixin.variableFontSp(14, 12);
        letter-spacing: -1px;
        padding-top: 15px;
        padding-right: 35px;
        padding-bottom: 15px;
      }
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .acd-check:checked + .acd-label + .acd-content01 {
    height: 93px;

    /* タブレット */
    @include mixin.tab(1025px) {
      height: auto;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      height: auto;
    }
  }

  .acd-check:checked + .acd-label + .acd-content02 {
    height: 70px;

    /* タブレット */
    @include mixin.tab(1025px) {
      height: auto;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      height: auto;
    }
  }

  .acd-check:checked + .acd-label + .acd-content03 {
    height: 95px;

    /* タブレット */
    @include mixin.tab(1025px) {
      height: auto;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      height: auto;
    }
  }
}

//  section4 FAQ ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

//  section5 blog ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.blog-inner {
  height: 668px;
  height: auto;
  background-color: #eefbfb;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;

  /* タブレット */
  @include mixin.tab(1025px) {
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    padding-bottom: 100px;
  }

  .blog-ttl {
    padding-top: 60px;
  }

  .blog-sub-ttl {
    transform: translate(-1px, -2px);
    letter-spacing: 0.5px;
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

/* 共通 ------------------------------*/
*[class*="cp-"],
*[class*="cp-"] * {
  box-sizing: border-box;
}

/* セクション */
.cp-section {
  padding: 55px 0;
}

/* コンテナー */
.cp-container {
  width: 100%;
  max-width: 1366px;
  // margin: auto;
  padding-right: 60px;
  padding-left: 70px;

  /* タブレット */
  @include mixin.tab(1025px) {
    width: 90vw;
    margin-right: calc(10vw / 2);
    margin-left: calc(10vw / 2);
    padding-right: 0px;
    padding-left: 0px;
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    width: 90vw;
    margin-right: calc(10vw / 2);
    margin-left: calc(10vw / 2);
  }
}

// /* ラベル */
// .cp-label {
//     display: inline-block;
//     padding: 4px 8px;
//     font-size: 12px;
//     color: #fff;
//     background: #707070;
// }

/* 画像 */
img {
  vertical-align: bottom;
}

/* タブレット */
@include mixin.tab(1025px) {
  /* セクション */
  .cp-section {
    padding: 40px 0;
  }
  /* コンテナー */
  .cp-container {
    margin: 0;
    padding: 0;
  }
}

/* スマートフォン */
@include mixin.sp(600px) {
  /* セクション */
  .cp-section {
    padding: 40px 0;
  }
  /* コンテナー */
  .cp-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* 更新情報 ------------------------------*/
.cp-infoCard01 {
  display: flex;
  flex-wrap: nowrap;

  /* タブレット */
  @include mixin.tab(1025px) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    flex-direction: column;
  }
}

/* アイテム */
.cp-infoCard01__item {
  width: 389px;
  height: 387px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;

  /* タブレット */
  @include mixin.tab(1025px) {
    margin: 20px 20px 20px 20px;
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
  }
}

.cp-infoCard01__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.cp-infoCard01__item:nth-child(n + 4) {
  margin-top: 40px;
}
.cp-infoCard01__item a {
  display: block;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}
.cp-infoCard01__item a:hover {
  opacity: 0.7;
}

/* 画像 */
.cp-infoCard01__image img {
  width: 100%;
  height: 260px;
}

.cp-infoCard01__info {
  margin-top: 11px;
  margin-left: 18px;
}

/* テキスト */
.cp-infoCard01__text {
  // font-weight: 400;//regular
  font-weight: 700; //bold
  font-size: 18px;
  line-height: 1.5;
  text-align: left;

  /* タブレット */
  @include mixin.tab(1025px) {
    width: 95%;
    font-size: mixin.variableFontTab(18, 14);
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    width: 95%;
    font-size: mixin.variableFontSp(18, 14);
  }
}

.txt02 {
  line-height: 1.45;
  display: inline-block;
  width: 350px;

  /* タブレット */
  @include mixin.tab(1025px) {
    width: 95%;
    font-size: mixin.variableFontTab(18, 14);
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    width: 95%;
    font-size: mixin.variableFontSp(18, 14);
  }
}
.txt03 {
  line-height: 1.45;
  display: inline-block;
  width: 330px;
  letter-spacing: 0px;

  /* タブレット */
  @include mixin.tab(1025px) {
    width: 95%;
    font-size: mixin.variableFontTab(18, 14);
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    width: 95%;
    font-size: mixin.variableFontSp(18, 14);
  }
}

/* 日付 */
.cp-infoCard01__date {
  // font-weight: 400;//regular
  font-weight: 700; //bold
  font-size: 16px;
  line-height: 1.86; // 26/14
  text-align: right;
  letter-spacing: -2px;
  position: absolute;
  right: 40px;
  bottom: 7px;

  /* タブレット */
  @include mixin.tab(1025px) {
    width: 95%;
    font-size: mixin.variableFontTab(16, 14);
    letter-spacing: -1px;
    right: 20px;
    bottom: 15px;
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    width: 95%;
    font-size: mixin.variableFontSp(16, 14);
    letter-spacing: -1px;
    right: 20px;
    bottom: 15px;
  }
}

/* タブレット */
@include mixin.tab(1025px) {
  /* アイテム */
  .cp-infoCard01__item {
    width: 45%;
  }
  .cp-infoCard01__item:not(:last-child) {
  }
  .cp-infoCard01__item:nth-child(2n-1) {
    margin: 0;
    margin: 10px 10px 10px 15px;
  }
  .cp-infoCard01__item:nth-child(n + 2) {
    margin: 0;
    margin: 10px 10px 10px 15px;
  }
}

/* スマートフォン */
@include mixin.sp(600px) {
  /* アイテム */
  .cp-infoCard01__item {
    width: calc(100% / 1);
  }
  .cp-infoCard01__item:not(:last-child) {
    margin-right: 0;
  }
  .cp-infoCard01__item:nth-child(2n-1) {
    margin-right: 0;
  }
  .cp-infoCard01__item:nth-child(n + 2) {
    margin-top: 32px;
  }
}

//  section5 blog ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

//  section6 works ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.works-inner {
  background-color: #fff;
  height: 701px;
  display: flex;
  flex-direction: column;

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .works-ttl {
    padding-top: 60px;
  }

  .works-sub-ttl {
    transform: translate(2px, -2px);
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.swiper {
  width: 1356px;
  margin-top: 69px;
  margin-bottom: 90px;

  /* タブレット */
  @include mixin.tab(1025px) {
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    width: 100vw;
  }
}

.swiper-wrapper {
  //ループ時のアニメーションの緩急を一定にする（デフォルトはease-out）
  transition-timing-function: linear;
  display: flex;
  flex-direction: row;

  /* タブレット */
  @include mixin.tab(1025px) {
    width: 100%;
    height: 450px;
    padding-left: calc(50% - (1024px / 2));
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    width: 100%;
    height: 450px;
    padding-left: calc(50% - (1024px / 2));
  }

  .swiper-slide {
    width: 180px !important;
    height: 200px !important;
  }
}

.works-card {
  height: 415px;
  background-color: #ffffff;

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .works-card-item {
    width: 320px;
    height: 405px;
    box-sizing: content-box; //線を外側にする
    border: solid 1px;
    border-radius: 8px;
    border-color: #dddddd;
    display: flex;
    flex-direction: column;

    /* タブレット */
    @include mixin.tab(1025px) {
      height: 400px;
    }

    /* スマートフォン */
    @include mixin.sp(600px) {
      height: 400px;
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .works-card__img-wrapper {
      width: 320px;

      .works-card-img {
        width: 100%;
        height: auto;
        border: 0px;
        border-radius: 8px 8px 0 0;
      }
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .works-card-body {
      width: 300px;
      height: 48.4%; // 100% - 51.6
      text-align: left;
      padding-left: 11px;
      margin: 0 auto;

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      .works-card-ttl {
        // font-weight: 400;//regular
        font-weight: 700; //bold
        font-size: 16px;
        line-height: 1.65; // 19/16
        padding-top: 18px;
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
      .wk-cd-ttl02 {
        letter-spacing: 0.8px;
      }
      .wk-cd-ttl03 {
        padding-top: 25px;
        padding-left: 3px;
        letter-spacing: 0px;
      }
      .wk-cd-ttl04 {
        padding-top: 19px;
        padding-left: 3px;
        letter-spacing: 0px;
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      .detail {
        // font-weight: 400;//regular
        font-weight: 700; //bold
        font-size: 14px;
        line-height: 1.65; // 17/14
        padding-top: 25.5px;
        padding-left: 1px;
        letter-spacing: -0.1px;

        /* タブレット */
        @include mixin.tab(1025px) {
          padding-top: 15px;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          padding-top: 15px;
        }
      }
    }
  }
}
//↓デバッグ用
// .works-card01{
//   margin-left: 138px;
//   margin-right: 0px;
// }

//  section6 works ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

//  section7 contact ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

.contact {
  width: 1366px;
  height: 1027px;
  background: linear-gradient(90deg, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);

  /* タブレット */
  @include mixin.tab(1025px) {
    width: 100vw;
  }

  /* スマートフォン */
  @include mixin.sp(600px) {
    width: 100vw;
  }
  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .contact-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .contact-ttl {
      color: #ffffff;
      padding-top: 68px;
    }

    .contact-sub-ttl {
      color: #ffffff;
      transform: translate(3px, -5.5px);
      letter-spacing: 0.5px;
    }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .contact-l3-header {
      // font-weight: 400;//regular
      font-weight: 700; //bold
      font-size: 16px;
      line-height: 1.7;
      text-align: center;
      color: #ffffff;
      padding-top: 30px;
      padding-left: 0px;
    }
  }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .contact-form-container {
    width: 908px;
    height: 689px;
    background: #fff;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
    margin: 0 auto;
    margin-top: 39px;

    /* タブレット */
    @include mixin.tab(1025px) {
      width: 90vw;
    }
    

    /* スマートフォン */
    @include mixin.sp(600px) {
      width: 90vw;
    }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .form__name {
      display: flex;
      flex-direction: column;

      .form-label-name {
        // font-weight: 400;//regular
        font-weight: 700; //bold
        font-size: 16px;
        line-height: 26px; // 19/16
        text-align: left;
        color: #333;
        padding-top: 32px;
        padding-left: 63px;

        /* タブレット */
        @include mixin.tab(1025px) {
          padding-left: 0px;
          text-align: center;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          padding-left: 0px;
          text-align: center;
        }
      }

        // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      .form-input-name {
        width: 499px;
        height: 43px;
        background: #eefbfb;
        margin-top: 32px;
        margin-left: 64px;
        border: none;

        /* タブレット */
        @include mixin.tab(1025px) {
          width: 90%;
          margin: 0 auto;
          margin-top: 20px;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          width: 90%;
          margin: 0 auto;
          margin-top: 20px;
        }
      }
    }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .form__email {
      display: flex;
      flex-direction: column;

      .form-label-email {
        // font-weight: 400;//regular
        font-weight: 700; //bold
        font-size: 16px;
        line-height: 26px; // 19/16
        text-align: left;
        letter-spacing: -0.3px;
        color: #333;
        padding-top: 28px;
        padding-left: 63px;

        /* タブレット */
        @include mixin.tab(1025px) {
          padding-left: 0px;
          text-align: center;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          padding-left: 0px;
          text-align: center;
        }
      }

        // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      .form-input-email {
        width: 499px;
        height: 43px;
        background: #eefbfb;
        margin-top: 33px;
        margin-left: 64px;
        border: none;

        /* タブレット */
        @include mixin.tab(1025px) {
          width: 90%;
          margin: 0 auto;
          margin-top: 20px;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          width: 90%;
          margin: 0 auto;
          margin-top: 20px;
        }
      }
    }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .form__inquiry {
      display: flex;
      flex-direction: column;

      .form-label-inquiry {
        // font-weight: 400;//regular
        font-weight: 700; //bold
        font-size: 16px;
        line-height: 26px; // 19/16
        letter-spacing: 2.5px;
        text-align: left;
        color: #333;
        padding-top: 21px;
        padding-left: 63px;

        /* タブレット */
        @include mixin.tab(1025px) {
          padding-left: 0px;
          text-align: center;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          padding-left: 0px;
          text-align: center;
        }
      }

      // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

      .form-textarea-inquiry {
        width: 783px;
        height: 179px;
        background: #eefbfb;
        margin-top: 33px;
        margin-left: 64px;
        border: none;

        /* タブレット */
        @include mixin.tab(1025px) {
          width: 90%;
          margin: 0 auto;
          margin-top: 20px;
        }

        /* スマートフォン */
        @include mixin.sp(600px) {
          width: 90%;
          margin: 0 auto;
          margin-top: 20px;
        }
      }
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .cmn-required-label {
      // font-weight: 400;//regular
      font-weight: 700; //bold
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      color: #fff;

      display: inline-block;
      width: 60px;
      height: 30px;
      background: #0c449b;
      border-radius: 10px;
      margin-left: 19px;
      //微調整
      transform: translate(0px, -3px);
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    .rqurd-lbl02 {
      //微調整
      transform: translate(-1px, -1px);
    }

    .rqurd-lbl03 {
      //微調整
      transform: translate(-4px, -2px);
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .privacy-policy-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 25px;

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .form-checkbox {
      transform: scale(1.75);
      margin-top: 2px;
      margin-left: 1px;
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .privacy-policy-agreement-label {
      // font-weight: 400;//regular
      font-weight: 700; //bold
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      text-align: left;
      color: #333;
      padding-left: 13px;
    }
  }

  // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

  .submit-btn {
    // font-weight: 400;//regular
    font-weight: 700; //bold
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;

    width: 155px;
    height: 37px;
    background: linear-gradient(#fa41cc 0%, #6020b0 100%);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
    display: block;
    margin: 0 auto;
    margin-top: 28px;
  }

  .submit-btn[disabled] {
    border: none;
    border-radius: 10px;
    background: rgb(163, 162, 162);
    box-shadow: none;
  }
}

//  section7 contact ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
